@import url('reset.css');

/* 폰트모음 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../font/NanumBarunGothic.ttf#iefix');
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: auto 0; padding: 0;}
/* main.css */
html, body {width: 100%; height: 100%;}
body{font-family:"Noto Sans",sans-serif;font-size:12px;color:#000;}


::-webkit-scrollbar{display: none;}


a{color:#666;text-decoration:none;}


/* PC */

/* container */
#container{z-index:30;position:relative; overflow: hidden;
    font-family: 'S-CoreDream-3Light', 'Ubuntu',sans-serif;}
#container > div{width: 100vw; height: 100vh;}
#content1{
	background: linear-gradient(-60deg, #666, #1b1b1c, #666, #222);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#content2,#content3,#content4,#content5,#content6,#content7{background: #1b1b1c;}

/* content1 */
#content1{height: 100vh;}
#content1>section{color: #fff; 
    line-height: 7; margin-left: 50px;}

#content1>section>h2{position: relative;
    z-index: 0; 
    font-family:'Montserrat', sans-serif;
    font-weight: bold; font-size: 120px;
    text-align: center;
  }

/* 호버시 네온 */
@property --d{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

.reveal-text {
  color: #fff;
  background: none;
  border: none;
  border-radius: 20px; 
  position: relative;
  z-index: 0;
  transition: .3s;
  cursor: pointer;
}

.reveal-text:before {
  content: "";
  position: absolute;
  inset:300px;
  padding: 8px;
  border-radius: 28px; 
  background: conic-gradient(from var(--d,0deg),
        #f34646 ,
        #0000 30deg 120deg,
        #00f8d3 150deg 180deg,
        #0000 210deg 300deg,
        #f34646 330deg
    );

    mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);  
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: intersect
}


.reveal-text:before {
  transition:.5s, 99999s 99999s transform;
}
.reveal-text:hover {
  box-shadow: none;
}

.reveal-text:hover:before {
  --d: 3600deg;
  transition: .5s,60s linear --d;
}
.reveal-text:hover:before {
  background-color: #333;
}

/* 텍스트 애니메이션 반짝이게 https://codepen.io/equinusocio/pen/KNYOxJ */
:root {
	--delay: 0;
	--duration: 1500ms;
	--iterations: 2;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	animation-name: clip-text;
	white-space: nowrap;
	cursor: default;}
	
.reveal-text:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-revealer;
}



@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}


.bar_x{position: fixed;
    z-index: 99;
    font-family: 'DOSGothic';
    font-size: 30px;
    left: 0;
    width: 100vw; height: 60px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345); 
    background: linear-gradient(to right, #232526, #414345);
    border: 4px solid #fff;
    box-shadow: 1px 1px 5px #666;}

.bar_x>p{position: relative;
    height: 30px;
    bottom: 75px; left: 50px;
    cursor:default;}


.text_box{
    position: relative;
    bottom: 180px;
    text-align: center;
    font-size: 3rem;
    text-align: center;
  }
  
  .blink {
    animation: blink 1s infinite;
    font-size: 3rem;
  }
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }

/* scroll */
.scroll>a {
    padding-top: 60px;
  }
.scroll>a span {
    position: fixed;
    z-index: 1;
    cursor: default;
    top: 870px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 10%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }

/* Me*/
#Me{color: #000; background: #fff; height: 100vh;}
#Me a{color: #fff;}
#Me>h2{position: relative; 
    font-weight: bold;
    top: 130px; left: 280px;
    font-size: 60px;}

.profile_{width:400px; height: 1000px;}
.profile_>.img{position: relative;
  top: 210px; left: 250px;
  width: 400px; height: 400px;
  background-color: #ff8c8c;
  border-radius: 50%;
}

.profile_>.img2{
  background: url(../img/tumblr_mtgg5fHq761sh6fkio1_500.gif) no-repeat -120px 0;
  background-size: cover;
  position: relative;
  bottom: 200px; left: 200px;
  width: 400px; height: 400px;
  background-color: #777;
  border-radius: 50%;}

.profile_>dl{position: relative;
  bottom: 140px; left: 250px; font-weight: 600;}
.profile_>dl>dt{font-family: 'Ubuntu', sans-serif;
  margin-left: 30px;
  font-weight: bold; font-size: 40px;}
.profile_>dl>dd{width: 350px;
  margin-top: 30px;
  font-size: 24px;}

.ac{position: relative; font-size: 28px;
font-weight: 600; 
left: 54rem; bottom: 80rem;}
.ac>dt{font-weight: bold; width: 270px;}
.ac>dd{font-weight: 600;
  font-size: 24px; line-height: 3;}

.skill{position: relative; font-size: 30px;
  font-weight: 600; text-align: center;
  bottom: 88rem; left: 30rem;}
.skill>dt{font-weight: bold;
  bottom: 50rem; right: 300px;}
.skill>dd{font-weight: 600;
  font-size: 22px; line-height: 3;}  
.skill>dd:first-of-type{margin-top: 30px;}  


.contact_3>ul{position: relative;
bottom: 75rem; left: 300px;
width: 300px; height: 500px;
}
.contact_3>ul>li .add_title{position: relative;
top: 300px; left: 40rem; font-size: 30px;
font-weight: 600;}

.contact_3 img{position: relative;
top: 330px; left: 520px;
transform: scale(1.2);}

/* content2 */
#content2{color: #fff; height: 100vh;}
#content2 a{color: #fff;}
#content2>h2{position: relative; 
    font-weight: bold;
    top: 120px; left: 150px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    font-size: 70px;}
#content2>h2 span{font-size: 40px;}

.se_img>ul>li img{
    position: relative;
    width: 850px; height: 500px;
    left: 250px; top: 60px;
    box-shadow: 10px 10px 0 #333;
    object-fit:cover;}
.se_img>ul>li:nth-child(3) img{
    object-position: right top;
}
.se_img>ul>li:nth-child(4) img{
    object-position: right top;
}

.se_info{
    font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}

.se_info1{position: relative;
    width: 550px;
    font-size: 24px;
    bottom: 33rem;
    left: 80rem;}

.se_info1>ul>li:first-child{width:100px;}
.se_info1>ul>li{margin-top: 20px;}

.se_info2{position: relative;
    width: 560px; bottom: 30rem;
    left: 80rem;
    font-size: 24px;}

.se_info2>ul>li{
    line-height: 2;}


.se_info3{position: relative;
    width: 500px; bottom: 27rem;
    left: 80rem;
    font-size: 24px;}
.se_info3>ul>li{
    line-height: 2;}

/* 모달창-se */

#modal_btn4{position: relative;
  top: 42rem;left: 48rem;}

.modal4 {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);}

      
.modal4 p{position: relative;
  width: 350px;
  font-size: 30px; font-weight: bold;
  bottom: 430px;left: 70rem;
  margin-bottom: 30px;
    }
   
.modal4 p:nth-of-type(2),.modal4 p:last-of-type{
  background-color: #ff8c8c;}
   
.modal4 p:nth-of-type(2):hover, .modal4 p:last-of-type:hover{
  width: 400px;
    }
  
.modal4.show {
  display: block;}
  
.modal_body4 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 85%;
  height: 600px;
  transform: translateX(-50%) translateY(-50%);
    }
  
.modal_body4>img{position: relative;
  top: 80px; left: 30rem;
  width: 600px; height: 750px;}     

.close_btn4{
  position: relative;
  width: 35px; height: 35px;
  top: 100px;
  left: 70rem;
  font-size: 32px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;}


/* content3 */

#content3{color: #fff; height: 100vh;}
#content3 a{color : #fff;}
#content3>h2{position: relative; 
    font-weight: bold;
    top: 120px; left: 150px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    font-size: 70px;}
#content3>h2 span{font-size: 40px;}
#content3 img{
    position: relative;
    bottom: 350px; right: 100px;
}

.mga_info{
    font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}

.mga_info1{position: relative;
    width: 560px;
    font-size: 24px;
    bottom: 51rem;
    left: 80rem;}

.mga_info1>ul>li:first-child{width:100px;}
.mga_info1>ul>li{margin-top: 20px;}

.mga_info2{position: relative;
    width: 550px; bottom: 48rem;
    left: 80rem;
    font-size: 24px;}

.mga_info2>ul>li{
    line-height: 2;}

.mga_info3{position: relative;
    width: 500px; bottom: 45rem;
    left: 80rem;
    font-size: 26px;}
.mga_info3>ul>li{
    line-height: 2;}

.mega_img{position: relative; width: 800px; height: 300px;
 top: 400px; left: 350px;
   }

.mega_img1{position: absolute;
background: url(../img/mega_coffeeScreen.png) no-repeat 0 0; 
width: 620px; height: 395px;
background-size: cover;
left: -10px; bottom: 200px;
animation: animaition 10s both linear infinite;}
@keyframes animaition {
    0%{background-position-y: 0;}
    50%{background-position-y: -1000px;}
}

.mega_imgT{position: relative; width: 200px; height: 200px;
top: 350px; left: 300px;
}
.mega_img2{position: absolute;
   background: url(../img/megacoffee_T.png) no-repeat 0 0; 
   width: 185px; height: 243px;
   border-radius: 5px;
   background-size: cover;
   left: -91px; bottom: 298px;
   animation: animaition2 10s both linear infinite;}
@keyframes animaition2 {
       0%{background-position-y: 0;}
       50%{background-position-y: -650px;}
   }

.mega_imgP{position: relative; width: 250px; height: 300px;
    top: 140px; left: 950px;}
.mega_img3{position: absolute;
   background: url(../img/megacoffe_P.png) no-repeat 0 0; 
   width: 115px; height: 248px;
   background-size: cover;
   overflow: hidden;
   left: -33px; bottom: 385px;
   border-radius: 15px;
   animation: animaition3 10s both linear infinite;}
@keyframes animaition3 {
       0%{background-position-y: 0;}
       50%{background-position-y: -660px;}
   }

/* 모달창 -mga */

#modal_btn2{position: relative;
    height: 43px; 
    top: 42rem; left: 48rem;}

.modal2 {
    position: absolute;
    z-index: 20;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal2 img{position: relative;
    top: 0; left: 30rem;
    width: 600px; height: 750px;}
    
  .modal2 p{position: relative;
    width: 350px;
    font-size: 30px; font-weight: bold;
    bottom: 430px; left: 70rem;
    margin-top: 30px;
  }

  .modal2 p:nth-of-type(2),.modal2 p:last-of-type{
    background-color: #ff8c8c;
  }
 
  .modal2 p:nth-of-type(2):hover, .modal2 p:last-of-type:hover{
    width: 400px;
  }

  .modal2.show {
    display: block;
  }

  .modal_body2 {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 85%;
    height: 600px;
    transform: translateX(-50%) translateY(-50%);
  }

  .close_btn2{
    position: relative;
    width: 35px; height: 35px;
    top: 18px;
    left: 70rem;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
  }

/* content4 */
#content4{color: #fff; height: 100vh;}
#content4 a{color: #fff;}
#content4>h2{position: relative; 
    top: 120px; left: 150px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    font-size: 70px;}
#content4>h2 span{font-size: 40px;}
#content4>section>.sa_img2 img{
    position: relative;
    bottom: 400px; left: 50px;
    position: relative;
    width: 300px; height: 500px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.sa_img {position: relative;
    background: url(../img/samsung_screen2.png) no-repeat 0 0;
    top: 60px; left: 300px;
    width: 800px; height: 530px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    background-size: cover;}

.sa_info{
    font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}

.sa_info1{position: relative;
    width: 500px;
    font-size: 26px;
    bottom: 65rem;
    left: 80rem;}

.sa_info1>ul>li:first-child{width:100px;}
.sa_info1>ul>li{margin-top: 20px;}

.sa_info2{position: relative;
    width: 560px; bottom: 61rem;
    left: 80rem;
    font-size: 26px;}

.sa_info2>ul>li{
    line-height: 2;}

.sa_info3{position: relative;
    width: 500px; bottom: 58rem;
    left: 80rem;
    font-size: 26px;}
.sa_info3>ul>li{
    line-height: 2;}

/* 모달 samsung */

#modal_btn3{position: relative;
top: 42rem;left: 48rem;}

.modal3 {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
  }

.modal3 p{position: relative;
  width: 350px;
  font-size: 30px; font-weight: bold;
  left: 50rem;
  margin-bottom: 30px;
    }

.modal3 p:nth-of-type(2),.modal3 p:last-of-type{
    background-color: #ff8c8c;}
     
.modal3 p:nth-of-type(2):hover, .modal3 p:last-of-type:hover{
    width: 400px;}

.modal3.show {
    display: block;
  }

.modal_body3 {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 1000px;
    height: 600px;
    transform: translateX(-50%) translateY(-50%);
  }

.modal_body3>img{position: relative;
    top: 0; left: 10rem;
    width: 600px; height: 750px;}   

.modal_body3>p{
    position: relative;
    bottom: 500px; 
  }

.close_btn3{
  position: relative;
  width: 35px; height: 35px;
  top: 18px; left: 50rem;
  font-size: 32px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;}



/* content5 */
#content5{color: #fff; height: 100vh;}
#content5 a{color : #fff;}
#content5>h2{position: relative;
    font-weight: bold;
    top: 120px; left: 150px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    font-size: 70px;}
#content5>h2 span{font-size: 40px;}
#content5 img{position: relative;
    right: 200px; bottom: 100px;}

.cj_info{
    font-family: 'Ubuntu','NanumBarunGothic',sans-serif;
}

.cj_info1{position: relative;
    width: 550px;
    font-size: 24px;
    bottom: 52rem;
    left: 80rem;}
.cj_info1>ul>li:first-child{width:100px;}
.cj_info1>ul>li{margin-top: 20px;}
.cj_info1_info{font-size: 24px; 
    line-height: 2.5;}

.cj_info2{position: relative;
    width: 500px;
    bottom: 50rem;
    left: 80rem;
    font-size: 24px;}
.cj_info2>ul>li{
    line-height: 2;}

.cj_info3{position: relative;
    width: 500px;
    bottom: 48rem;
    left: 80rem;
    font-size: 24px;}
.cj_info3>ul>li{
    line-height: 2;}

  /* cj_img */
.cj_img{position: relative; width: 750px; height: 300px;
    top: 160px; left: 490px;
      }
   
.cj_img1{position: absolute;
   background: url(../img/pc_cj.png) no-repeat 0 0; 
   width: 570px; height: 360px;
   background-size: cover;
   left: -110px; bottom: -20px;
   animation: animaition4 10s both linear infinite;}
    @keyframes animaition4{
        0%{background-position-y: 0;}
        50%{background-position-y: -600px;}
    }
   
.cj_imgT{position: relative; width: 200px; height: 200px;
   top: 100px; left: 400px;
   }
.cj_img2{position: absolute;
      background: url(../img/tablet_cj.png) no-repeat 0 0; 
      width: 185px; height: 243px;
      border-radius: 5px;
      background-size: cover;
      right: 207px; bottom: 49px;
      animation: animaition5 10s both linear infinite;}
   @keyframes animaition5 {
        0%{background-position-y: 0;}
        50%{background-position-y: -480px;}
      }
   
.cj_imgP{position: relative; width: 250px; height: 300px;
       bottom:350px; left: 1050px;}
.cj_img3{position: absolute;
      background: url(../img/mobile_cj.png) no-repeat 0 0; 
      width: 115px; height: 248px;
      background-size: cover;
      overflow: hidden;
      right: 267px; bottom: 135px;
      border-radius: 15px;
      animation: animaition6 10s both linear infinite;}
@keyframes animaition6 {
        0%{background-position-y: 0;}
        50%{background-position-y: -480px;}
      }

/* 모달창 -cj*/
#modal_btn{position: relative;
    height: 43px; 
    top: 42rem; left: 48rem;}

.modal {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    width: 85%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.8);
    top: 0; left: 15rem;
    width: 500px; height: 700px;}
  .modal p{position: relative;
    font-size: 30px; font-weight: bold;
    left: 13rem;
  }
  .modal.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 800px;
    height: 600px;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .close_btn{
    position: relative;
    width: 35px; height: 35px;
    top: 18px; left: 48rem;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
  }

/* content6 */

#content6{color: #fff; height: 100vh;}
#content6 a{color: #fff;}
#content6>h2{position: relative;
    font-weight: bold;
    top: 120px; left: 150px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    font-size: 70px;}
#content6>h2 span{font-size: 40px;}
#content6>section>.button{
position: relative;width: 180px;
top: 380px;}

.ka_info{
    font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}
.ka_info1{position: relative;
    width: 500px;
    font-size: 24px;
    bottom: 50rem;
    left: 80rem;}

.ka_info1>ul>li{margin-top: 20px;}    

.ka_info2{position: relative;
    width: 500px;
    bottom: 46rem; left: 80rem;
    font-size: 24px;}
.ka_info2>ul>li{line-height: 2;}

.ka_video>video{position: relative;
width: 400px; height: 400;
transform: scale(0.85);
border:25px solid #000; 
border-radius: 20px;
box-shadow: 2px 2px 4px #aaa;
top: -30px; left:700px;}

/* content7 */

#content7{color: #fff; height: 100vh;}
#content7 a{color: #fff;}
#content7>h2{position: relative; 
    font-weight: bold;
    top: 120px; left: 150px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    font-size: 70px;}
#content7>h2 span{font-size: 40px;}
#content7>section>p{position: relative;
  left: 630px; top: 380px;
  font-size: 36px;}

/* content8 */

#content8{overflow: hidden; height: 100vh;
  color: #000;}
#content8>.con_name{position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold; font-size: 100px;
  left: 38%; top: 100px;
  margin-left: 30px;}

.call{position: relative;
  top: 150px; left: 31.5%;
  line-height: 3;
  padding: 30px;}
.call>ul>li{display: inline-block; margin-right: 150px;}
.add_title{font-family: 'Ubuntu',sans-serif;
  font-size: 40px; font-weight: bold;
  text-align: center; position: relative;
  right: 22px;}

.con_mail>ul>li{margin-right: 35px;}
.con_mail>ul>li span.add_title{
left: 3px;}

.git_img:hover,.mail_img:hover{transform: scale(1.5);
  transition: all 0.5s;}

  .yuyu{position: relative; 
    top: 130px; left: 41%;
    font-size: 30px;}
  .rotate_finger{
    transform: rotate(180deg);
  }
  .thank_text{
  position: relative;
  right: 80px;  top:30px;
  font-size: 80px; 
  font-family: 'Ubuntu',sans-serif;
  font-weight: bold;
  }
/* 말풍선 적절한 top 과 margin-left 로 위치조정 */
.arrow_box {
  display: none;
  position: absolute;
  width: 180px;
  padding: 20px;
  left: 548px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
  border: 5px solid black;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}

.con_phone>ul>li:hover + li.arrow_box {
  display: block;
}
/* bmo */
.nemo{position: absolute; background: #41cdcd;
    bottom: -93px; left: 58rem; z-index: 1;
    width:120px;height:150px;border-radius: 5px;}
.nemo:hover{bottom: -35px;
    transition: all 0.5s linear 0s;}
.line{position:absolute;background: green;top:90px;left:20px; width:40px;height:10px;
    box-shadow: 1px 1px 1px #666;}
    
.plus{position: absolute;top:110px;}
.plus:before{content:'';position:absolute;background: rgb(255, 252, 104);
    height:20px;width:8px;left:26px;top:-6px;
    box-shadow:1px 1px 1px #666}
.plus:after{content:'';position:absolute;background: rgb(255, 252, 104);
    height:8px;width:20px;left:20px;}

.line1{position:absolute;top:130px;}
.line1:before{content:'';position:absolute;background:#fff ; width:22px;height:6px;
    left:20px; background: #0d0a63;border-radius: 10px 10px 10px 10px;
    box-shadow:1px 1px 1px #666;}
.line1:after{content:'';position:absolute;background:#fff ; width:22px;height:6px;
    left:45px; background: #0d0a63;border-radius: 10px 10px 10px 10px;
    box-shadow:1px 1px 1px #666;}

.button1{position:absolute;top:90px;}
.button1:before{content:'';position:absolute;left:90px;background: #120d94;
    width:8px;height: 8px;border-radius: 50%;
    box-shadow:1px 1px 1px #666;}
.button1:after{content:'';position:absolute;top:10px;left:80px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid aqua;}

.button2{position: absolute;top:110px;}
.button2:before{content:'';position: absolute;left:95px;background:lawngreen;
    width:8px;height:8px;border-radius: 50%;}
.button2:after{content:'';position: absolute;top:10px;left:80px;background:#ff8c8c;
    width:20px;height:20px;border-radius: 50%;
    box-shadow:1px 1px 1px #666;}

.face{z-index:1;position:relative;top:20px;left:20px;
        background:#cdecfa;width:80px;height:60px;border-radius: 5px;}
.eyes{position: absolute;top:20px;}
.eyes:before{content:'';position: absolute;left:15px;background: #000;border-radius:50%;width:6px;height:10px;}
.eyes:after{content:'';position: absolute;left:60px;background: #000; border-radius:50%;width:6px; height:10px;}

.mouth{position:absolute;top:35px;}
.mouth:before{content:'';position: absolute;left:24px;width:30px;height:15px;background: green;border-radius: 10px 10px 30px 30px;
    border:1.5px solid black;}
.mouth:after{content:'';position: absolute;left:29px;width:20px;height:4px;background: white;border-radius: 0 0 10px 10px;
    border:1.5px solid black;}
.mouth2{position:absolute;top:10px;left:30px;width:18px;height:4.5px;background:rgb(18, 82, 18);
    border:1.5px solid black;border-radius: 12px 12px 70% 70%;}

.bmo:hover .red{opacity:0; position:absolute;left:calc(50% - 2px);top:50px;
    box-shadow:-25px 0 0 0 #ff8c8c,25px 0 0 0 #ff8c8c,-30px -2px 5px 5px #ff0044,35px -2px 5px 5px #ff0044;
    animation: red1 2s linear infinite;}
    @keyframes red1
    {50%{opacity: 1;}}

.hello{position:absolute;top:-50px;;left:150px;width:200px;height:100px;background: #fff;
    border-radius: 20px; opacity: 0;
    font-weight: bold;}
.hello:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;}
    
.hello p{opacity:0;position: absolute;margin: 35px;left:15px;top:-10px;
  font-family: 'S-CoreDream-3Light',sans-serif;font-size:20px;}
    
.bmo:hover .hello{opacity: 1;}
.bmo:hover .hello>p{opacity:1;
    animation: yaho 2s linear infinite;}
    /* @keyframes yaho
    {25%{transform:scale(0.2)}
    50%{transform: scale(0.5);}
    } */

/* ---햄버거 메뉴 --- */
/* 햄버거 버튼 */

.burger-icon {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  z-index: 100;
  padding: 8px 0;
  top: 20px;
  right: 60px;
  user-select: none;
  width: auto;
  margin: 0;
}

/* 첫번째 햄버거 줄 */
.burger-icon .burger-sticks {
  background: #fff;
  position: fixed;
  display: block;
  height: 8px;
  border-radius: 10px;
  transition: background .2s ease-out;
  width: 50px;
  margin-bottom: 10px;
}

/* 1,3번째 햄버거 줄 */
.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.burger-icon .burger-sticks:before {
  top: 15px;
}

.burger-icon .burger-sticks:after {
  top: -15px;
}

.burger-check {
  display: none;
}

.burger-check:checked~.menu {
  max-width:400px;
}

.burger-check:checked~.burger-icon .burger-sticks {
  background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
  transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
  transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
  top: 0;
}

#subMenu {
  display: none;
}

#burger-check:checked + label + #subMenu {
  position:fixed;
  display: block;
  width:400px;
  height:100%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #414345); 
  background: linear-gradient(to right, #232526, #414345);
  border-left: 4px solid #fff;
  padding:60px 25px 25px 25px;
  box-sizing:border-box;
  right: 0;
  top:0;
  z-index:99;
  transition: background 0.5s linear 0s;
}

/* 햄버거 메뉴 */

#subMenu{color: #fff;
font-size: 27px;
font-family: 'Ubuntu','S-CoreDream-3Light',sans-serif;}
#subMenu a{color: #fff;}

#subMenu>ul{font-weight: 900; margin-left: 20px; line-height: 3;}

.sub01::after{
content: '';
display: block;
position: absolute;
height: 2px;
width: 0;
left: 40px;
background-color: #fff;
transition: width 0.3s ease-in-out;}

.sub01:hover::after
{width: 50px;}

.submenu>li:nth-child(2)>ul>li{margin-left: 50px; margin-top: -10px;}
.submenu>li:nth-child(2)>ul>li:after{content: ""; display: block;
  background-color: #fff; width: 30px; height: 3px;}
  .submenu>li:nth-child(2)>ul>li:hover{
    margin-left: 20px; 
    transition: margin 0.3s ease-in-out
  }
.submenu>li:nth-child(2)>ul>li a{font-size: 24px;}

/* info_g */
@property --d{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;}
      
.info_g {
  width: 200px; height: 30px;
  aspect-ratio:1;
  font-size:30px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 20px; 
  position: relative;
  z-index: 0;
  transition: .3s;}

.info_g:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 8px;
  border-radius: 28px; 
  background: conic-gradient(from var(--d,0deg),
    #f34646 ,
    #0000 30deg 120deg,
    #41cdcd 150deg 180deg,
    #0000 210deg 300deg,
    #f34646 330deg);
    mask:
    linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: intersect;
    --d: 3600deg;}

.info_g:after {
  content: "";
  position: absolute;
  inset: -100px;
  background:
    radial-gradient(50px at left  150px top    120px,#ff53bb 5%,#0000),
    radial-gradient(50px at right 150px bottom 120px,#00f8d3 5%,#0000);
  filter: blur(60px);
  opacity: .5;
  transform: rotate(3600deg);
  transition: .5s,60s linear transform;
      }
      
  
/* button */
.button{
  top: 45.8rem; left: 390px;
}
.button>a{
  position: relative;
  z-index:1;
}
button, .button {
  width: 200px;
  height: 40px;
  aspect-ratio:1;
  font-size:24px;
  font-weight: 600;
  color: #fff;
  background: none;
  border: none;
  border-radius: 20px; 
  position: relative;
  z-index: 1;
  transition: .3s;
  cursor: pointer;}

button:before ,.button:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 8px;
  border-radius: 28px; 
  background: conic-gradient(from var(--d,0deg),
  #f34646 ,
  #0000 30deg 120deg,
  #00f8d3 150deg 180deg,
  #0000 210deg 300deg,
  #f34646 330deg);
  mask:
  linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);
  -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: intersect}
button:after,.button:after {
  content: "";
  position: absolute;
  inset: -100px;
  background:
    radial-gradient(70px at left  150px top    120px,#f77 9%,#0000),
    radial-gradient(70px at right 150px bottom 120px,#00f8d3 10%,#0000);
  filter: blur(60px);
  opacity: .5;}
      
button:before,
button:after,
.button:before,
.button:after {
transition:.5s, 99999s 99999s transform, 99999s 99999s --d;}

button:hover, .button:hover {box-shadow: 0 0 0 1px #666;}
      
button:hover:after, .button:hover:after {
  transform: rotate(3600deg);
  transition: .5s,60s linear transform;}
button:hover:before, .button:hover:before {
  --d: 3600deg;
  transition: .5s,60s linear --d;}
button:hover:before, .button:hover:before {
  background-color: #222;}

/* 감사합니다 :3 */





/* TABLET */
@media screen and (min-width:769px) and (max-width:1025px){

/* container */
#container{z-index:30;position:relative; overflow: hidden;
  font-family: 'S-CoreDream-3Light', 'Ubuntu',sans-serif;}
#container > div{width: 100vw; height: 100vh;}
#content1{
background: linear-gradient(-60deg, #666, #1b1b1c, #666, #222);
background-size: 400% 400%;
animation: gradient 13s ease infinite;
}
@keyframes gradient {
0% {
  background-position: 0% 20%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

#content2,#content3,#content4,#content5,#content6,#content7{background: #1b1b1c;}

/* content1 */
#content1{height: 100vh;}
#content1>section{color: #fff; 
  line-height: 7; margin-left: 50px;}

#content1>section>h2{position: relative;
  z-index: 0; 
  font-family:'Montserrat', sans-serif;
  font-weight: bold; font-size: 120px;
  text-align: center;
}

/* 호버시 네온 */
@property --d{
syntax: '<angle>';
inherits: true;
initial-value: 0deg;
}

.reveal-text {
color: #fff;
background: none;
border: none;
border-radius: 20px; 
position: relative;
z-index: 0;
transition: .3s;
cursor: pointer;
}

.reveal-text:before {
content: "";
position: absolute;
inset:300px;
padding: 8px;
border-radius: 28px; 
background: conic-gradient(from var(--d,0deg),
      #f34646 ,
      #0000 30deg 120deg,
      #00f8d3 150deg 180deg,
      #0000 210deg 300deg,
      #f34646 330deg
  );

  mask:
  linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);  
-webkit-mask:
  linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);
-webkit-mask-composite: xor;
        mask-composite: intersect
}


.reveal-text:before {
transition:.5s, 99999s 99999s transform;
}
.reveal-text:hover {
box-shadow: none;
}

.reveal-text:hover:before {
--d: 3600deg;
transition: .5s,60s linear --d;
}
.reveal-text:hover:before {
background-color: #333;
}

/* 텍스트 애니메이션 반짝이게 https://codepen.io/equinusocio/pen/KNYOxJ */
:root {
--delay: 0;
--duration: 1500ms;
--iterations: 2;
}

.reveal-text,
.reveal-text::after {
animation-delay: var(--animation-delay, 2s);
animation-iteration-count: var(--iterations, 1);
animation-duration: var(--duration, 800ms);
animation-fill-mode: both;
animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
--animation-delay: var(--delay, 0);
--animation-duration: var(--duration, 800ms);
--animation-iterations: var(--iterations, 1);
animation-name: clip-text;
white-space: nowrap;
cursor: default;}

.reveal-text:after {
content: "";
position: absolute;
z-index: 999;
top: 0;
left: 0;
right: 0;
bottom: 0;
transform: scaleX(0);
transform-origin: 0 50%;
pointer-events: none;
animation-name: text-revealer;
}



@keyframes clip-text {
from {
  clip-path: inset(0 100% 0 0);
}
to {
  clip-path: inset(0 0 0 0);
}
}


@keyframes text-revealer {

0%, 50% {
  transform-origin: 0 50%;
}

60%, 100% {
  transform-origin: 100% 50%;		
}


60% {
  transform: scaleX(1);
}

100% {
  transform: scaleX(0);
}
}


.bar_x{position: fixed;
  z-index: 99;
  font-family: 'DOSGothic';
  font-size: 30px;
  left: 0;
  width: 100vw; height: 60px;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #414345); 
  background: linear-gradient(to right, #232526, #414345);
  border: 4px solid #fff;
  box-shadow: 1px 1px 5px #666;}

.bar_x>p{position: relative;
  height: 30px;
  bottom: 75px; left: 50px;
  cursor:default;}


.text_box{
  position: relative;
  bottom: 180px;
  text-align: center;
  font-size: 3rem;
  text-align: center;
}

.blink {
  animation: blink 1s infinite;
  font-size: 3rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/* scroll */
.scroll>a {
  padding-top: 60px;
}
.scroll>a span {
  position: fixed;
  z-index: 1;
  cursor: default;
  top: 870px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-radius: 10%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* Me*/
#Me{color: #000; background: #fff; height: 100vh;}
#Me a{color: #fff;}
#Me>h2{position: relative; 
  font-weight: bold;
  top: 130px; left: 280px;
  font-size: 60px;}

.profile_{width:400px; height: 1000px;}
.profile_>.img{position: relative;
top: 210px; left: 250px;
width: 400px; height: 400px;
background-color: #ff8c8c;
border-radius: 50%;
}

.profile_>.img2{
background: url(../img/tumblr_mtgg5fHq761sh6fkio1_500.gif) no-repeat -120px 0;
background-size: cover;
position: relative;
bottom: 200px; left: 200px;
width: 400px; height: 400px;
background-color: #777;
border-radius: 50%;}

.profile_>dl{position: relative;
bottom: 140px; left: 250px; font-weight: 600;}
.profile_>dl>dt{font-family: 'Ubuntu', sans-serif;
margin-left: 30px;
font-weight: bold; font-size: 40px;}
.profile_>dl>dd{width: 350px;
margin-top: 30px;
font-size: 24px;}

.ac{position: relative; font-size: 28px;
font-weight: 600; 
left: 54rem; bottom: 80rem;}
.ac>dt{font-weight: bold; width: 270px;}
.ac>dd{font-weight: 600;
font-size: 24px; line-height: 3;}

.skill{position: relative; font-size: 30px;
font-weight: 600; text-align: center;
bottom: 88rem; left: 30rem;}
.skill>dt{font-weight: bold;
bottom: 50rem; right: 300px;}
.skill>dd{font-weight: 600;
font-size: 22px; line-height: 3;}  
.skill>dd:first-of-type{margin-top: 30px;}  


.contact_3>ul{position: relative;
bottom: 75rem; left: 300px;
width: 300px; height: 500px;
}
.contact_3>ul>li .add_title{position: relative;
top: 300px; left: 40rem; font-size: 30px;
font-weight: 600;}

.contact_3 img{position: relative;
top: 330px; left: 520px;
transform: scale(1.2);}

/* content2 */
#content2{color: #fff; height: 100vh;}
#content2 a{color: #fff;}
#content2>h2{position: relative; 
  font-weight: bold;
  top: 120px; left: 150px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  font-size: 70px;}
#content2>h2 span{font-size: 40px;}

.se_img>ul>li img{
  position: relative;
  width: 850px; height: 500px;
  left: 250px; top: 60px;
  box-shadow: 10px 10px 0 #333;
  object-fit:cover;}
.se_img>ul>li:nth-child(3) img{
  object-position: right top;
}
.se_img>ul>li:nth-child(4) img{
  object-position: right top;
}

.se_info{
  font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}

.se_info1{position: relative;
  width: 550px;
  font-size: 24px;
  bottom: 33rem;
  left: 80rem;}

.se_info1>ul>li:first-child{width:100px;}
.se_info1>ul>li{margin-top: 20px;}

.se_info2{position: relative;
  width: 560px; bottom: 30rem;
  left: 80rem;
  font-size: 24px;}

.se_info2>ul>li{
  line-height: 2;}


.se_info3{position: relative;
  width: 500px; bottom: 27rem;
  left: 80rem;
  font-size: 24px;}
.se_info3>ul>li{
  line-height: 2;}

/* 모달창-se */

#modal_btn4{position: relative;
top: 42rem;left: 48rem;}

.modal4 {
position: absolute;
z-index: 20;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
background-color: rgba(0, 0, 0, 0.8);}

    
.modal4 p{position: relative;
width: 350px;
font-size: 30px; font-weight: bold;
bottom: 430px;left: 70rem;
margin-bottom: 30px;
  }
 
.modal4 p:nth-of-type(2),.modal4 p:last-of-type{
background-color: #ff8c8c;}
 
.modal4 p:nth-of-type(2):hover, .modal4 p:last-of-type:hover{
width: 400px;
  }

.modal4.show {
display: block;}

.modal_body4 {
position: absolute;
top: 20%;
left: 50%;
width: 85%;
height: 600px;
transform: translateX(-50%) translateY(-50%);
  }

.modal_body4>img{position: relative;
top: 80px; left: 30rem;
width: 600px; height: 750px;}     

.close_btn4{
position: relative;
width: 35px; height: 35px;
top: 100px;
left: 70rem;
font-size: 32px;
color: #fff;
font-weight: 900;
cursor: pointer;}


/* content3 */

#content3{color: #fff; height: 100vh;}
#content3 a{color : #fff;}
#content3>h2{position: relative; 
  font-weight: bold;
  top: 120px; left: 150px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  font-size: 70px;}
#content3>h2 span{font-size: 40px;}
#content3 img{
  position: relative;
  bottom: 350px; right: 100px;
}

.mga_info{
  font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}

.mga_info1{position: relative;
  width: 560px;
  font-size: 24px;
  bottom: 51rem;
  left: 80rem;}

.mga_info1>ul>li:first-child{width:100px;}
.mga_info1>ul>li{margin-top: 20px;}

.mga_info2{position: relative;
  width: 550px; bottom: 48rem;
  left: 80rem;
  font-size: 24px;}

.mga_info2>ul>li{
  line-height: 2;}

.mga_info3{position: relative;
  width: 500px; bottom: 45rem;
  left: 80rem;
  font-size: 26px;}
.mga_info3>ul>li{
  line-height: 2;}

.mega_img{position: relative; width: 800px; height: 300px;
top: 400px; left: 350px;
 }

.mega_img1{position: absolute;
background: url(../img/mega_coffeeScreen.png) no-repeat 0 0; 
width: 620px; height: 395px;
background-size: cover;
left: -10px; bottom: 200px;
animation: animaition 10s both linear infinite;}
@keyframes animaition {
  0%{background-position-y: 0;}
  50%{background-position-y: -1000px;}
}

.mega_imgT{position: relative; width: 200px; height: 200px;
top: 350px; left: 300px;
}
.mega_img2{position: absolute;
 background: url(../img/megacoffee_T.png) no-repeat 0 0; 
 width: 185px; height: 243px;
 border-radius: 5px;
 background-size: cover;
 left: -91px; bottom: 298px;
 animation: animaition2 10s both linear infinite;}
@keyframes animaition2 {
     0%{background-position-y: 0;}
     50%{background-position-y: -650px;}
 }

.mega_imgP{position: relative; width: 250px; height: 300px;
  top: 140px; left: 950px;}
.mega_img3{position: absolute;
 background: url(../img/megacoffe_P.png) no-repeat 0 0; 
 width: 115px; height: 248px;
 background-size: cover;
 overflow: hidden;
 left: -33px; bottom: 385px;
 border-radius: 15px;
 animation: animaition3 10s both linear infinite;}
@keyframes animaition3 {
     0%{background-position-y: 0;}
     50%{background-position-y: -660px;}
 }

/* 모달창 -mga */

#modal_btn2{position: relative;
  height: 43px; 
  top: 42rem; left: 48rem;}

.modal2 {
  position: absolute;
  z-index: 20;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal2 img{position: relative;
  top: 0; left: 30rem;
  width: 600px; height: 750px;}
  
.modal2 p{position: relative;
  width: 350px;
  font-size: 30px; font-weight: bold;
  bottom: 430px; left: 70rem;
  margin-top: 30px;
}

.modal2 p:nth-of-type(2),.modal2 p:last-of-type{
  background-color: #ff8c8c;
}

.modal2 p:nth-of-type(2):hover, .modal2 p:last-of-type:hover{
  width: 400px;
}

.modal2.show {
  display: block;
}

.modal_body2 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 85%;
  height: 600px;
  transform: translateX(-50%) translateY(-50%);
}

.close_btn2{
  position: relative;
  width: 35px; height: 35px;
  top: 18px;
  left: 70rem;
  font-size: 32px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

/* content4 */
#content4{color: #fff; height: 100vh;}
#content4 a{color: #fff;}
#content4>h2{position: relative; 
  top: 120px; left: 150px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  font-size: 70px;}
#content4>h2 span{font-size: 40px;}
#content4>section>.sa_img2 img{
  position: relative;
  bottom: 400px; left: 50px;
  position: relative;
  width: 300px; height: 500px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.sa_img {position: relative;
  background: url(../img/samsung_screen2.png) no-repeat 0 0;
  top: 60px; left: 300px;
  width: 800px; height: 530px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
  background-size: cover;}

.sa_info{
  font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}

.sa_info1{position: relative;
  width: 500px;
  font-size: 26px;
  bottom: 65rem;
  left: 80rem;}

.sa_info1>ul>li:first-child{width:100px;}
.sa_info1>ul>li{margin-top: 20px;}

.sa_info2{position: relative;
  width: 560px; bottom: 61rem;
  left: 80rem;
  font-size: 26px;}

.sa_info2>ul>li{
  line-height: 2;}

.sa_info3{position: relative;
  width: 500px; bottom: 58rem;
  left: 80rem;
  font-size: 26px;}
.sa_info3>ul>li{
  line-height: 2;}

/* 모달 samsung */

#modal_btn3{position: relative;
top: 42rem;left: 48rem;}

.modal3 {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal3 p{position: relative;
width: 350px;
font-size: 30px; font-weight: bold;
left: 50rem;
margin-bottom: 30px;
  }

.modal3 p:nth-of-type(2),.modal3 p:last-of-type{
  background-color: #ff8c8c;}
   
.modal3 p:nth-of-type(2):hover, .modal3 p:last-of-type:hover{
  width: 400px;}

.modal3.show {
  display: block;
}

.modal_body3 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1000px;
  height: 600px;
  transform: translateX(-50%) translateY(-50%);
}

.modal_body3>img{position: relative;
  top: 0; left: 10rem;
  width: 600px; height: 750px;}   

.modal_body3>p{
  position: relative;
  bottom: 500px; 
}

.close_btn3{
position: relative;
width: 35px; height: 35px;
top: 18px; left: 50rem;
font-size: 32px;
color: #fff;
font-weight: 900;
cursor: pointer;}



/* content5 */
#content5{color: #fff; height: 100vh;}
#content5 a{color : #fff;}
#content5>h2{position: relative;
  font-weight: bold;
  top: 120px; left: 150px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  font-size: 70px;}
#content5>h2 span{font-size: 40px;}
#content5 img{position: relative;
  right: 200px; bottom: 100px;}

.cj_info{
  font-family: 'Ubuntu','NanumBarunGothic',sans-serif;
}

.cj_info1{position: relative;
  width: 550px;
  font-size: 24px;
  bottom: 52rem;
  left: 80rem;}
.cj_info1>ul>li:first-child{width:100px;}
.cj_info1>ul>li{margin-top: 20px;}
.cj_info1_info{font-size: 24px; 
  line-height: 2.5;}

.cj_info2{position: relative;
  width: 500px;
  bottom: 50rem;
  left: 80rem;
  font-size: 24px;}
.cj_info2>ul>li{
  line-height: 2;}

.cj_info3{position: relative;
  width: 500px;
  bottom: 48rem;
  left: 80rem;
  font-size: 24px;}
.cj_info3>ul>li{
  line-height: 2;}

/* cj_img */
.cj_img{position: relative; width: 750px; height: 300px;
  top: 160px; left: 490px;
    }
 
.cj_img1{position: absolute;
 background: url(../img/pc_cj.png) no-repeat 0 0; 
 width: 570px; height: 360px;
 background-size: cover;
 left: -110px; bottom: -20px;
 animation: animaition4 10s both linear infinite;}
  @keyframes animaition4{
      0%{background-position-y: 0;}
      50%{background-position-y: -600px;}
  }
 
.cj_imgT{position: relative; width: 200px; height: 200px;
 top: 100px; left: 400px;
 }
.cj_img2{position: absolute;
    background: url(../img/tablet_cj.png) no-repeat 0 0; 
    width: 185px; height: 243px;
    border-radius: 5px;
    background-size: cover;
    right: 207px; bottom: 49px;
    animation: animaition5 10s both linear infinite;}
 @keyframes animaition5 {
      0%{background-position-y: 0;}
      50%{background-position-y: -480px;}
    }
 
.cj_imgP{position: relative; width: 250px; height: 300px;
     bottom:350px; left: 1050px;}
.cj_img3{position: absolute;
    background: url(../img/mobile_cj.png) no-repeat 0 0; 
    width: 115px; height: 248px;
    background-size: cover;
    overflow: hidden;
    right: 267px; bottom: 135px;
    border-radius: 15px;
    animation: animaition6 10s both linear infinite;}
@keyframes animaition6 {
      0%{background-position-y: 0;}
      50%{background-position-y: -480px;}
    }

/* 모달창 -cj*/
#modal_btn{position: relative;
  height: 43px; 
  top: 42rem; left: 48rem;}

.modal {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;

  width: 85%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.8);
  top: 0; left: 15rem;
  width: 500px; height: 700px;}
.modal p{position: relative;
  font-size: 30px; font-weight: bold;
  left: 13rem;
}
.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 800px;
  height: 600px;
  transform: translateX(-50%) translateY(-50%);
}

.close_btn{
  position: relative;
  width: 35px; height: 35px;
  top: 18px; left: 48rem;
  font-size: 32px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

/* content6 */

#content6{color: #fff; height: 100vh;}
#content6 a{color: #fff;}
#content6>h2{position: relative;
  font-weight: bold;
  top: 120px; left: 150px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  font-size: 70px;}
#content6>h2 span{font-size: 40px;}
#content6>section>.button{
position: relative;width: 180px;
top: 380px;}

.ka_info{
  font-family: 'Ubuntu', 'NanumBarunGothic',sans-serif;
}
.ka_info1{position: relative;
  width: 500px;
  font-size: 24px;
  bottom: 50rem;
  left: 80rem;}

.ka_info1>ul>li{margin-top: 20px;}    

.ka_info2{position: relative;
  width: 500px;
  bottom: 46rem; left: 80rem;
  font-size: 24px;}
.ka_info2>ul>li{line-height: 2;}

.ka_video>video{position: relative;
width: 400px; height: 400;
transform: scale(0.85);
border:25px solid #000; 
border-radius: 20px;
box-shadow: 2px 2px 4px #aaa;
top: -30px; left:700px;}

/* content7 */

#content7{color: #fff; height: 100vh;}
#content7 a{color: #fff;}
#content7>h2{position: relative; 
  font-weight: bold;
  top: 120px; left: 150px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  font-size: 70px;}
#content7>h2 span{font-size: 40px;}
#content7>section>p{position: relative;
left: 630px; top: 380px;
font-size: 36px;}

/* content8 */

#content8{overflow: hidden; height: 100vh;
color: #000;}
#content8>.con_name{position: relative;
font-family: 'Ubuntu', sans-serif;
font-weight: bold; font-size: 100px;
left: 38%; top: 100px;
margin-left: 30px;}

.call{position: relative;
top: 150px; left: 31.5%;
line-height: 3;
padding: 30px;}
.call>ul>li{display: inline-block; margin-right: 150px;}
.add_title{font-family: 'Ubuntu',sans-serif;
font-size: 40px; font-weight: bold;
text-align: center; position: relative;
right: 22px;}

.con_mail>ul>li{margin-right: 35px;}
.con_mail>ul>li span.add_title{
left: 3px;}

.git_img:hover,.mail_img:hover{transform: scale(1.5);
transition: all 0.5s;}

.yuyu{position: relative; 
top: 130px; left: 41%;
font-size: 30px;}
.rotate_finger{
transform: rotate(180deg);
}
.thank_text{
position: relative;
right: 80px;  top:30px;
font-size: 80px; 
font-family: 'Ubuntu',sans-serif;
font-weight: bold;
}

/* 말풍선 적절한 top 과 margin-left 로 위치조정 */
.arrow_box {
display: none;
position: absolute;
width: 180px;
padding: 20px;
left: 548px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background: #fff;
border: 5px solid black;
color: #333;
font-size: 14px;
font-weight: bold;
text-align: center;
}

.arrow_box:after {
position: absolute;
bottom: 100%;
left: 50%;
width: 0;
height: 0;
margin-left: -10px;
border: solid transparent;
border-color: rgba(51, 51, 51, 0);
border-bottom-color: #333;
border-width: 10px;
pointer-events: none;
content: ' ';
}

.con_phone>ul>li:hover + li.arrow_box {
display: block;
}
/* bmo */
.nemo{position: absolute; background: #41cdcd;
  bottom: -93px; left: 58rem; z-index: 1;
  width:120px;height:150px;border-radius: 5px;}
.nemo:hover{bottom: -35px;
  transition: all 0.5s linear 0s;}
.line{position:absolute;background: green;top:90px;left:20px; width:40px;height:10px;
  box-shadow: 1px 1px 1px #666;}
  
.plus{position: absolute;top:110px;}
.plus:before{content:'';position:absolute;background: rgb(255, 252, 104);
  height:20px;width:8px;left:26px;top:-6px;
  box-shadow:1px 1px 1px #666}
.plus:after{content:'';position:absolute;background: rgb(255, 252, 104);
  height:8px;width:20px;left:20px;}

.line1{position:absolute;top:130px;}
.line1:before{content:'';position:absolute;background:#fff ; width:22px;height:6px;
  left:20px; background: #0d0a63;border-radius: 10px 10px 10px 10px;
  box-shadow:1px 1px 1px #666;}
.line1:after{content:'';position:absolute;background:#fff ; width:22px;height:6px;
  left:45px; background: #0d0a63;border-radius: 10px 10px 10px 10px;
  box-shadow:1px 1px 1px #666;}

.button1{position:absolute;top:90px;}
.button1:before{content:'';position:absolute;left:90px;background: #120d94;
  width:8px;height: 8px;border-radius: 50%;
  box-shadow:1px 1px 1px #666;}
.button1:after{content:'';position:absolute;top:10px;left:80px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid aqua;}

.button2{position: absolute;top:110px;}
.button2:before{content:'';position: absolute;left:95px;background:lawngreen;
  width:8px;height:8px;border-radius: 50%;}
.button2:after{content:'';position: absolute;top:10px;left:80px;background:#ff8c8c;
  width:20px;height:20px;border-radius: 50%;
  box-shadow:1px 1px 1px #666;}

.face{z-index:1;position:relative;top:20px;left:20px;
      background:#cdecfa;width:80px;height:60px;border-radius: 5px;}
.eyes{position: absolute;top:20px;}
.eyes:before{content:'';position: absolute;left:15px;background: #000;border-radius:50%;width:6px;height:10px;}
.eyes:after{content:'';position: absolute;left:60px;background: #000; border-radius:50%;width:6px; height:10px;}

.mouth{position:absolute;top:35px;}
.mouth:before{content:'';position: absolute;left:24px;width:30px;height:15px;background: green;border-radius: 10px 10px 30px 30px;
  border:1.5px solid black;}
.mouth:after{content:'';position: absolute;left:29px;width:20px;height:4px;background: white;border-radius: 0 0 10px 10px;
  border:1.5px solid black;}
.mouth2{position:absolute;top:10px;left:30px;width:18px;height:4.5px;background:rgb(18, 82, 18);
  border:1.5px solid black;border-radius: 12px 12px 70% 70%;}

.bmo:hover .red{opacity:0; position:absolute;left:calc(50% - 2px);top:50px;
  box-shadow:-25px 0 0 0 #ff8c8c,25px 0 0 0 #ff8c8c,-30px -2px 5px 5px #ff0044,35px -2px 5px 5px #ff0044;
  animation: red1 2s linear infinite;}
  @keyframes red1
  {50%{opacity: 1;}}

.hello{position:absolute;top:-50px;;left:150px;width:200px;height:100px;background: #fff;
  border-radius: 20px; opacity: 0;
  font-weight: bold;}
.hello:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;}
  
.hello p{opacity:0;position: absolute;margin: 35px;left:15px;top:-10px;
font-family: 'S-CoreDream-3Light',sans-serif;font-size:20px;}
  
.bmo:hover .hello{opacity: 1;}
.bmo:hover .hello>p{opacity:1;
  animation: yaho 2s linear infinite;}
  /* @keyframes yaho
  {25%{transform:scale(0.2)}
  50%{transform: scale(0.5);}
  } */

/* ---햄버거 메뉴 --- */
/* 햄버거 버튼 */

.burger-icon {
cursor: pointer;
display: inline-block;
position: fixed;
z-index: 100;
padding: 8px 0;
top: 20px;
right: 60px;
user-select: none;
width: auto;
margin: 0;
}

/* 첫번째 햄버거 줄 */
.burger-icon .burger-sticks {
background: #fff;
position: fixed;
display: block;
height: 8px;
border-radius: 10px;
transition: background .2s ease-out;
width: 50px;
margin-bottom: 10px;
}

/* 1,3번째 햄버거 줄 */
.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
background: #fff;
content: '';
display: block;
height: 100%;
border-radius: 10px;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.burger-icon .burger-sticks:before {
top: 15px;
}

.burger-icon .burger-sticks:after {
top: -15px;
}

.burger-check {
display: none;
}

.burger-check:checked~.menu {
max-width:400px;
}

.burger-check:checked~.burger-icon .burger-sticks {
background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
top: 0;
}

#subMenu {
display: none;
}

#burger-check:checked + label + #subMenu {
position:fixed;
display: block;
width:400px;
height:100%;
background: #232526;
background: -webkit-linear-gradient(to right, #232526, #414345); 
background: linear-gradient(to right, #232526, #414345);
border-left: 4px solid #fff;
padding:60px 25px 25px 25px;
box-sizing:border-box;
right: 0;
top:0;
z-index:99;
transition: background 0.5s linear 0s;
}

/* 햄버거 메뉴 */

#subMenu{color: #fff;
font-size: 28px;
font-family: 'Ubuntu','S-CoreDream-3Light',sans-serif;}
#subMenu a{color: #fff;}

#subMenu>ul{font-weight: 900; margin-left: 20px; line-height: 3;}

.sub01::after{
content: '';
display: block;
position: absolute;
height: 2px;
width: 0;
left: 40px;
background-color: #fff;
transition: width 0.3s ease-in-out;}

.sub01:hover::after
{width: 50px;}

.submenu>li:nth-child(2)>ul>li{margin-left: 50px; margin-top: -10px;}
.submenu>li:nth-child(2)>ul>li:after{content: ""; display: block;
background-color: #fff; width: 30px; height: 3px;}
.submenu>li:nth-child(2)>ul>li:hover{
  margin-left: 20px; 
  transition: margin 0.3s ease-in-out
}
.submenu>li:nth-child(2)>ul>li a{font-size: 24px;}

/* info_g */
@property --d{
syntax: '<angle>';
inherits: true;
initial-value: 0deg;}
    
.info_g {
width: 200px; height: 30px;
aspect-ratio:1;
font-size:30px;
color: #fff;
background: none;
border: none;
border-radius: 20px; 
position: relative;
z-index: 0;
transition: .3s;}

.info_g:before {
content: "";
position: absolute;
inset: -8px;
padding: 8px;
border-radius: 28px; 
background: conic-gradient(from var(--d,0deg),
  #f34646 ,
  #0000 30deg 120deg,
  #41cdcd 150deg 180deg,
  #0000 210deg 300deg,
  #f34646 330deg);
  mask:
  linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: intersect;
  --d: 3600deg;}

.info_g:after {
content: "";
position: absolute;
inset: -100px;
background:
  radial-gradient(50px at left  150px top    120px,#ff53bb 5%,#0000),
  radial-gradient(50px at right 150px bottom 120px,#00f8d3 5%,#0000);
filter: blur(60px);
opacity: .5;
transform: rotate(3600deg);
transition: .5s,60s linear transform;
    }
    

/* button */
.button{
top: 45.8rem; left: 390px;
}
.button>a{
position: relative;
z-index:1;
}
button, .button {
width: 200px;
height: 40px;
aspect-ratio:1;
font-size:24px;
font-weight: 600;
color: #fff;
background: none;
border: none;
border-radius: 20px; 
position: relative;
z-index: 1;
transition: .3s;
cursor: pointer;}

button:before ,.button:before {
content: "";
position: absolute;
inset: -8px;
padding: 8px;
border-radius: 28px; 
background: conic-gradient(from var(--d,0deg),
#f34646 ,
#0000 30deg 120deg,
#00f8d3 150deg 180deg,
#0000 210deg 300deg,
#f34646 330deg);
mask:
linear-gradient(#000 0 0) content-box,
linear-gradient(#000 0 0);
-webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
-webkit-mask-composite: xor;
mask-composite: intersect}
button:after,.button:after {
content: "";
position: absolute;
inset: -100px;
background:
  radial-gradient(70px at left  150px top    120px,#f77 9%,#0000),
  radial-gradient(70px at right 150px bottom 120px,#00f8d3 10%,#0000);
filter: blur(60px);
opacity: .5;}
    
button:before,
button:after,
.button:before,
.button:after {
transition:.5s, 99999s 99999s transform, 99999s 99999s --d;}

button:hover, .button:hover {box-shadow: 0 0 0 1px #666;}
    
button:hover:after, .button:hover:after {
transform: rotate(3600deg);
transition: .5s,60s linear transform;}
button:hover:before, .button:hover:before {
--d: 3600deg;
transition: .5s,60s linear --d;}
button:hover:before, .button:hover:before {
background-color: #222;}

/* 감사합니다 :3 */

}